<HTML lang="en">
<head>
<script>function go_back(){window.history.go(-1);return false;}

function ctu(oi,ct){var link = document && document.referrer;var esc_link = "";var e = window && window.encodeURIComponent ?encodeURIComponent :escape;if (link){esc_link = e(link);}

new Image().src = "/url?sa=T&url=" + esc_link + "&oi=" + e(oi)+ "&ct=" + e(ct);return false;}

</script>
</head>

 <body>
<a href="#" onclick="return ctu(oi,ct);">Proceed</a>
<a href="#" onclick="return go_back();" onmousedown="ctu('unauthorizedredirect','originlink');">cancel</a>
</body>
</HTML>